.container{
	height: 500px;
	margin: 100px;
	background-color:#afF7cd;
	position: static;
}
.container2{
	background-color: red;
	margin: 20px;
	height: 200px;
}
/*.ghost-box{
	position: absolute;
	color:white;
	background-color: blue;
	top:0;
	left:0;
}
body{
	height:10000px;
}
.lightbox{
	background-color: rgba(50,50,50,0.6);
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}
.lightbox-content{
	transform: translateY(-50%);
	/*display: inline-block;*/
	margin: 0 25%;
	width:50%;
	position: absolute;
	top:50%;
	/*height:50%;*/
	background-color:white;*/

}
