.timeMovingImage {
	float: left;
}

.h1 {
	text-align: center;
}

.h2 .explanation {
	margin: 50px;
}

#vmenu {
	background-color: gray;
}


.image{
	padding-left: 500px;
	padding-top: 100px;
}

.imageText {
	padding-left: 600px;
	padding-top: 100px;
}

.tmPage .rPage {
	display: block;
}

body {
  background-color: white;
  margin:80px 80px 100px 100px;
}

